header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif
}
h1 {
    font-size: 60px;
}

li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;

}